/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

Gemfile.lock
.idea/
.DS_Store
.byebug_history
output/
logs/
bin/
vendor/
*.gem
**/demo_validation_spec.rb
/data/response/post_new.json